.blog-section{
    padding: 50px 340px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;

    .blog-cart-container{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        gap: 20px;
        margin: 70px 0px;
        justify-content: center;

        .cart-wrapper-link{
            text-decoration: none;
            color: var(--gray-color);
        }
    }

    .read-more-btn-container{
        display: flex;
        justify-content: center;
        align-items: center;

        button{

            &:hover{
                color: var(--white-color);
                background-color: var(--primary-color);
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .blog-section{
        padding: 50px 40px 60px;

        .blog-cart-container{
            display: flex;
            align-items: center;
        }
    }
  
}

@media screen and (max-width: 760px) {
    .blog-section{
        padding: 50px 20px 60px;
    }

    .section-heading{
        font-size: 20px;
    }
  
}

@media screen and (max-width: 520px) {
    .blog-section{
        padding: 50px 10px 60px;
    }

    .section-heading{
        font-size: 18px !important;
    }
}